<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../common/head.ejs');%>
    <title><%= title%></title>
</head>
<body>
    <%- include('../common/nav.ejs');%>
    <h1 class="container mt-2"><%=heading%></h1>

    <div id="app" class="container mt-4"></div>

    <%- include('../common/script.ejs');%>
    
</body>
</html>